# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
26.0.1/
.DS_Store

# We WANT to keep Landing/Raw in Git for now as requested by user ("I push this to GitHub")
# unless the data files are too large.
data_generators/ultils_data/geo_mapping.xlsx
